*{
    
    
    box-sizing: border-box;
    margin: auto;
}


body{
    background: linear-gradient(90deg, rgba(113,241,153,1) 0%, rgba(67,189,235,1) 38%, rgba(151,182,246,1) 84%);
    padding: 10vh 0;
    width: 100%;
    height: 100vh;
    position: relative;
    transition: background 0.5s ease;

}

.firstStep,
.secondStep,
.thirdStep {
    
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    height: 50vh;
    width: 20vw;
    padding: 10px;
    padding-top: 20px;
    border-color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
    transform: translate(-50%,-50% );
   
}

div.inactive {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    
}
div.active {
    opacity: 1;
    pointer-events: all;
    transition: ease-in-out 1s;
    transform: translate(-50%, -50%);
    
}

.firstStep > .textInput {
    background-color: white;
}

#email,
#password,
#confirmPassword,
#firstName,
#lastName,
#phone,
#address,
#facebook,
#twitter,
#instagram{
    height: 7vh;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
}

.next,
.previous,
.next1,
.previous1,
.submit {
    background-color: rgba(67,189,235,1);
    padding: 2px;
    border-radius: 5px;
    width: 5vw;
    
}

.next:active,
.next1:active,
.previous:active,
.previous1:active,
.submit:active {
    color: rgba(67,189,235,1);
    background-color: black;
    
    
    
}
.toggleButtons{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

#error{
    color: rgba(252, 49, 8, 0.921);
    font-size: large;
    display: none;
}
#error1{
    color: rgba(252, 49, 8, 0.921);
    font-size: large;
    display: none;
}
#error2{
    color: rgba(252, 49, 8, 0.921);
    font-size: large;
    display: none;
}

#table{
    background-color: rgba(151,182,246,1) ;
    height: 35vh;
    width: 22vw;
    font-size: large;
    display: none;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

@media screen and (max-width:750px) {
    .firstStep,
    .secondStep,
    .thirdStep,
    #table{
        height: 60vh;
        width: 60vw;
        
        
    }
    .next,
.previous,
.next1,
.previous1,
.submit {
    width: unset;
    padding: 8px 16px;
    border-radius: 5px;
    
    
}
    
}
.textInput {
    margin: 24px 0px;
    width: 100%;
}